@page
@model Upskill.Pages.StaffJobs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffJob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffJob.StaffMember" class="control-label"></label>
                <select asp-for="StaffJob.StaffMemberID" class="form-control" asp-items="@Model.StaffNameSL"></select>
                <span asp-validation-for="StaffJob.StaffMemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffJob.Date" class="control-label"></label>
                <input asp-for="StaffJob.Date" class="form-control" />
                <span asp-validation-for="StaffJob.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffJob.HoursWorked" class="control-label"></label>
                <input asp-for="StaffJob.HoursWorked" class="form-control" />
                <span asp-validation-for="StaffJob.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffJob.DaysWorked" class="control-label"></label>
                <input asp-for="StaffJob.DaysWorked" class="form-control" />
                <span asp-validation-for="StaffJob.DaysWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffJob.Materials" class="control-label"></label>
                <textarea asp-for="StaffJob.Materials" class="form-control"></textarea>
                <span asp-validation-for="StaffJob.Materials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffJob.Notes" class="control-label"></label>
                <textarea asp-for="StaffJob.Notes" class="form-control"></textarea>
                <span asp-validation-for="StaffJob.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Jobs/Details" asp-route-id="@Model.StaffJob.JobID">Back to Job</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
