@page
@model UpskillWebApp.Pages.Jobs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Job.Job_reference" class="control-label"></label>
                <input asp-for="Job.Job_reference" class="form-control" />
                <span asp-validation-for="Job.Job_reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Date_start" class="control-label"></label>
                <input asp-for="Job.Date_start" class="form-control" />
                <span asp-validation-for="Job.Date_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Date_finished" class="control-label"></label>
                <input asp-for="Job.Date_finished" class="form-control" />
                <span asp-validation-for="Job.Date_finished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Quoted_amount" class="control-label"></label>
                <input asp-for="Job.Quoted_amount" class="form-control" />
                <span asp-validation-for="Job.Quoted_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Invoiced_amount" class="control-label"></label>
                <input asp-for="Job.Invoiced_amount" class="form-control" />
                <span asp-validation-for="Job.Invoiced_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Hours_worked" class="control-label"></label>
                <input asp-for="Job.Hours_worked" class="form-control" />
                <span asp-validation-for="Job.Hours_worked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Days_worked" class="control-label"></label>
                <input asp-for="Job.Days_worked" class="form-control" />
                <span asp-validation-for="Job.Days_worked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Status" class="control-label"></label>
                <input asp-for="Job.Status" class="form-control" />
                <span asp-validation-for="Job.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Date_due" class="control-label"></label>
                <input asp-for="Job.Date_due" class="form-control" />
                <span asp-validation-for="Job.Date_due" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Address" class="control-label"></label>
                <input asp-for="Job.Address" class="form-control" />
                <span asp-validation-for="Job.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Postcode" class="control-label"></label>
                <input asp-for="Job.Postcode" class="form-control" />
                <span asp-validation-for="Job.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Notes" class="control-label"></label>
                <input asp-for="Job.Notes" class="form-control" />
                <span asp-validation-for="Job.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
