@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}  

<div class="text-left">
    <h1 class="display-4">Dashboard</h1>
    <p>This is the dashboard. Here you will be able to see all your jobs.</p>
</div>
