@page
@model Upskill.Pages.Jobs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.ID" />
            <div class="form-group">
                <label asp-for="Job.Status" class="control-label"></label>
                <select asp-for="Job.Status" asp-items="Html.GetEnumSelectList<Models.Job.statusType>()" class="form-control"></select>
                <span asp-validation-for="Job.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.JobReference" class="control-label"></label>
                <input asp-for="Job.JobReference" class="form-control" />
                <span asp-validation-for="Job.JobReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Customer" class="control-label"></label>
                <select asp-for="Job.CustomerID" class="form-control" asp-items="@Model.CustomerNameSL"></select>
                <span asp-validation-for="Job.CustomerID" class="text-danger"></span>
                <a asp-page="/Customers/Create">New customer</a>
            </div>
            <div class="form-group">
                <label asp-for="Job.Address" class="control-label"></label>
                <input asp-for="Job.Address" class="form-control" />
                <span asp-validation-for="Job.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Town" class="control-label"></label>
                <input asp-for="Job.Town" class="form-control" />
                <span asp-validation-for="Job.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Postcode" class="control-label"></label>
                <input asp-for="Job.Postcode" class="form-control" />
                <span asp-validation-for="Job.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.HoursWorked" class="control-label"></label>
                <input asp-for="Job.HoursWorked" class="form-control" />
                <span asp-validation-for="Job.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DaysWorked" class="control-label"></label>
                <input asp-for="Job.DaysWorked" class="form-control" />
                <span asp-validation-for="Job.DaysWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DueDate" class="control-label"></label>
                <input asp-for="Job.DueDate" class="form-control" />
                <span asp-validation-for="Job.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.StartDate" class="control-label"></label>
                <input asp-for="Job.StartDate" class="form-control" />
                <span asp-validation-for="Job.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.FinishedDate" class="control-label"></label>
                <input asp-for="Job.FinishedDate" class="form-control" />
                <span asp-validation-for="Job.FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Notes" class="control-label"></label>
                <input asp-for="Job.Notes" class="form-control" />
                <span asp-validation-for="Job.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Staff Worked</label>
                <table class="table-bordered">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
