@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Upskill</h1>
    <p>Start by clicking one of the tabs above.</p>
</div>
