@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body>
        <div style="text-align: center">
            <br />
            <hr />
            <h1>Upskill - Job Management</h1>
            <h4><a asp-page="/Jobs/Index">Click here to begin</a></h4>
            <hr />
        </div>
</body>



</html>

