@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body>
        <div style="text-align: center">
            <br />
            <hr />
            <h1>Upskill - Job Management</h1>
            <h4><a asp-page="/Jobs/Index">Click here to begin</a></h4>
            <hr />
            <br />
            <div style="text-align:left">
                <h2>Changes</h2>
                <h6>Update 1.01 27/09/2021</h6>
                <span>[Major]</span>
                <ul>
                    <li>Added significant purchases field to jobs</li>
                </ul>
                <span>[Fixes]</span>
                <ul>
                    <li>Staff jobs are now ordered by date, not creation</li>
                    <li>Edit, Details and Delete buttons of Staff Jobs won't wrap onto a new line in full-screen</li>
                </ul>
            </div>
        </div>
</body>



</html>

