@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <style>
        .index-content{
            max-width: 50%;
        }
        .update-box {
            border-width: 1px;
            border-style: solid;
            border-color: #e5e4e4;
            border-radius: 10px;
            padding: 10px;
            margin: 15px 0 15px 0;
            text-align: left;
            box-shadow: rgb(0 0 0 / 15%) 3px 3px 4px 0px;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <br />
        <hr />
        <h1>Upskill - Job Management</h1>
        <h4><a asp-page="/Jobs/Index">Click here to begin</a></h4>
        <hr />
        <br />
        <div class="index-content">
            <div style="text-align:left">
                <h2>Tips</h2>
                <ul>
                    <li>You can show jobs for a customer by searching their surname or company</li>
                    <li>Jobs can be sorted by ID, customer, due date and status</li>
                    <li>You won't get a warning message before deleting a task on a job</li>
                    <li>Quickly create a job for a customer by pressing +Job on the customer page</li>
                    <li>Use 'New Customer' on the create job page to save navigating to the customer page</li>
                </ul>
            </div>
            <br />

            <h2 style="text-align:left">Changes</h2>

            <div class="update-box">
                <h6>Update 1.02 29/09/2021</h6>
                <p>Quick-fix for update 1.01</p>
                <span>[Fixes]</span>
                <ul>
                    <li>Significant purchases now show in job details</li>
                    <li>'Back to job' link at the bottom of StaffJobs/Edit now returns to the correct page</li>
                </ul>
            </div>
            <div class="update-box">
                <h6>Update 1.01 27/09/2021</h6>
                <p>This update adds a few quality of life features and improvements to streamline the job creation process. It also tidies up some of the inconsistent stylings from the original release.</p>
                <span>[Major]</span>
                <ul>
                    <li>Added significant purchases field to jobs</li>
                    <li>Added +Job button on customers page to create a job for that customer</li>
                </ul>
                <span>[Minor]</span>
                <ul>
                    <li>Added a save button at the top of edit job</li>
                    <li>Updated privacy statement</li>
                    <li>Changed all delete buttons to be red</li>
                </ul>
                <span>[Fixes]</span>
                <ul>
                    <li>Staff jobs are now ordered by date, not creation</li>
                    <li>Edit, Details and Delete buttons of Staff Jobs won't wrap onto a new line in full-screen</li>
                    <li>Changed notes & materials sections to use text areas instead of fields</li>
                    <li>Create new customer link on create job returns and auto fills to job on creation</li>
                </ul>
            </div>
        </div>
    </div>
</body>



</html>

