@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>It is your duty as the system admin to ensure your network is secure against attacks. All data is stored on your business' Microsoft Azure database. The only way to access data stored on UpSkill is through a device with UpSkill installed, on an authorised network. Therefore it is your responsibility to protect yours and your clients' data.</p>
