@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data is stored on your device. It is your responsibility to maintain security of your device to protect the personal data of yourself and your clients.</p>
